<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/404.css" />
    <title>404</title>
</head>
<body style="background-color: #16AD85">
    <nav id="nav-header" class="navbar navbar-inverse " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#404-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand" target="_self" style="background-image: url('/images/brand-2.png')"></a>
            </div>
            <div class="collapse navbar-collapse" id="404-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-12">
                <div class="alien">
                <img src="/images/404-alien.gif"  alt="alien"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="message">
                    <p>
                        The page you are looking for is either stolen by aliens or never existed.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>