<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="../static/images/logo.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/css/reset.css"/>
    <link rel="stylesheet" href="../static/css/detail-post.css">

</head>
<body>
<div href="javascript:;" id="go-top"></div>
<!--Header-->
<div style="background-color: #FFF">
    <div id="header-top" class="headWrap" style="height: 90px">
        <a href="/index" class="headLogo"></a>
        <ul class="headLeft">
            <li style="margin-right: 35px">
                <a href="/index" class="hidefocus">首页</a>
            </li>
            <li >
                <a href="https://www.meizu.com/pro7/" class="hidefocus" >我的校园</a>
            </li>
            <li >
                <a href="http://retail.meizu.com" class="hidefocus">摄影天地</a>
            </li>
            <li>
                <a href="http://www.flyme.cn" class="hidefocus" >资源分享</a>
            </li>
            <li>
                <a href="http://service.meizu.com" class="hidefocus" >综合讨论</a>
            </li>
            <li>
                <a href="http://bbs.meizu.cn" class="hidefocus">全部版块</a>
            </li>
        </ul>
        <div class="headRight">
		<span >
			<a  href="/detail" title="${user.name}">${user.name}</a>
			<span class="line_head">&nbsp;|&nbsp;</span>
			<a  href="/logout">退出</a>
		</span>

        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="ct">
    <div style="margin-bottom: 20px">
        <div class="wp_postlist" id="postlist">
            <table width="100%" cellspacing="0"  cellpadding="0">
                <tbody>
                <tr>
                    <td class="plc">
                        <div>
                            <div class="posttitlewrap">
                                <div class="avatar head_uinfo"><img src="https://image-res.mzres.com/img/download/uc/16/02/09/10/00/1602091/w100h100?t=1524104873"></div>
                                <div class="posttitle">
                                    <a id="thread_subject" href="thread-6834228-1-1.html" title="正本溯源————拍照样张的作用">正本溯源————拍照样张的作用<!--正本溯源————拍照样张的作用--> </a>
                                </div>
                            </div>
                            <div class="pi infobar_post">
                                <!--1楼的显示楼层数-->
                                <div class="barr_post">

                                    <span class="xi1">735</span><span class="replyicon_uinfo"></span><span class="xi1">5589</span><span class="readicon_uinfo"></span>
                                    <span id="authorposton170252697"><span title="2018-04-18 13:48:14">昨天&nbsp;13:48</span></span>

                                </div>
                                <div class="pti barl_post">
                                    <a class="name_uinfo" href="#" target="_blank" title="xrx3p">xrx3p</a>
                                </div>
                            </div>
                            <div class="post-content">
                                <div class="img">
                                    <img  class="zoom" src="https://bbsimage.res.meizu.com/forum/2018/04/18/151129s7ne2exr3727hj67.jpeg"  border="0" width="100%" height="100%">
                                </div>
                                本来是一件挺正常的事情，拍的也很好，技术上没有问题，但是发到论坛，就被一些人喷，莫名其妙啊。
                            </div>
                            <div class=" cbar_postlist">
                                <div class="po cbarbox_postlist">
                                    <!--删除的帖子不显示-->
                                    <div class="pob">
                                        <a class="fastre" href="javascript:;">评论</a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="replypost_postlist">
        <h3 class="head_postlist cl">
            <span class="z"><b>735</b>条回复</span>
        </h3>
        <!--一条评论-->
        <div class="item_postlist graybar_postlist">
            <div class="pls">
                <div>
                    <div class="avatar head_uinfo">
                        <img src="https://image-res.mzres.com/img/download/uc/44/12/00/00/00/4412/w100h100?t=1524110583">
                        <span class="shadowbox_avatar"> </span>
                    </div>
                </div>
            </div>
            <div>
                <div class="plc" style="width: 800px">
                    <div class="infobar_post">
                        <div class="" style="float: right">
                            <strong class="z floor_infobar">
                                <a href="#">7楼</a>
                            </strong>
                        </div>
                        <div>
                            <a class="name_uinfo" href="#" title="showbill">showbill</a>
                            <span title="2018-04-18 13:53:02">昨天&nbsp;13:53</span>
                        </div>
                        <div style="margin-top: 5px">
                            好的
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="comment">
        <div class="plf">
            <textarea name="comment"  rows="10" maxlength="255" placeholder="发表你的看法... ..."></textarea>
        </div>
        <div class="pnpost">
            <a class="normalbtn bluebtn">发表回复</a>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/detail-post.js"></script>
</body>
</html>