<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/detail-post.css">

</head>
<body>
<div href="javascript:;" id="go-top"></div>
<!--Header-->
<div style="background-color: #FFF">
    <div id="header-top" class="headWrap" style="height: 90px">
        <a href="/index" class="headLogo"></a>
        <ul class="headLeft">
            <li style="margin-right: 35px">
                <a href="/index" class="hidefocus">首页</a>
            </li>
            <li >
                <a href="https://www.meizu.com/pro7/" class="hidefocus" >我的校园</a>
            </li>
            <li >
                <a href="http://retail.meizu.com" class="hidefocus">摄影天地</a>
            </li>
            <li>
                <a href="http://www.flyme.cn" class="hidefocus" >资源分享</a>
            </li>
            <li>
                <a href="http://service.meizu.com" class="hidefocus" >综合讨论</a>
            </li>
            <li>
                <a href="http://bbs.meizu.cn" class="hidefocus">全部版块</a>
            </li>
        </ul>
        <div class="headRight">
		<span >
			<a  href="/detail" title="${user.name}">${user.name}</a>
			<span class="line_head">&nbsp;|&nbsp;</span>
			<a  href="/logout">退出</a>
		</span>

        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="ct">
    <div style="margin-bottom: 20px">
        <div class="wp_postlist" id="postlist">
            <table width="100%" cellspacing="0"  cellpadding="0">
                <tbody>
                <tr>
                    <td>
                        <div>
                            <div class="posttitlewrap">
                                <div class="avatar head_uinfo"><img src="/avatar/${post.userAvatar!(no.png)}"></div>
                                <div class="posttitle">
                                    <a id="thread_subject" href="thread-6834228-1-1.html" title="正本溯源————拍照样张的作用">${post.postTitle} </a>
                                </div>
                            </div>
                            <div class="pi infobar_post">
                                <!--1楼的显示楼层数-->
                                <div class="barr_post">

                                    <span class="xi1">${post.commentCount}</span><span class="replyicon_uinfo"></span><span class="xi1">${post.postVisited}</span><span class="readicon_uinfo"></span>
                                    <span><span>${post.createTime?string('MM月dd日 HH:mm')}</span></span>

                                </div>
                                <div class="pti barl_post">
                                    <a class="name_uinfo" href="#" target="_blank" title="${post.userName}">${post.userName}</a>
                                </div>
                            </div>
                            <div class="post-content">
                                <div class="img">
                                    <img  class="zoom" src="/post/${post.postUrl!('lantern.jpg')}"  border="0" width="100%" height="100%">
                                </div>
                                ${post.postContent}
                            </div>
                            <div class=" cbar_postlist">
                                <div class="po cbarbox_postlist">
                                    <!--删除的帖子不显示-->
                                    <div class="pob">
                                        <a id="comment" class="fastre" href="javascript:;">评论</a>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="replypost_postlist" id="comment_list">
        <h3 class="head_postlist cl">
            <span class="z"><b id="commentCount">${post.commentCount!("0")}</b>条回复</span>
        </h3>
        <!--一条评论-->
        <#list comments as comment>
            <div class="item_postlist graybar_postlist">
                <div class="pls">
                    <div>
                        <div class="avatar head_uinfo">
                            <img src="/avatar/${comment.userAvatar}">
                            <span class="shadowbox_avatar"> </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="plc" style="width: 800px">
                        <div class="infobar_post">
                            <div class="" style="float: right">
                                <strong class="z floor_infobar">
                                    <a class="storey" href="#"></a>
                                </strong>
                            </div>
                            <div>
                                <a class="name_uinfo" href="#">${comment.userName}</a>
                                <span>${(comment.createTime?string('MM月dd日 HH:mm'))!'某月某日'}</span>
                            </div>
                            <div style="margin-top: 5px">
                                ${comment.comment!("赶快抢沙发~~~")}
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </#list>
    </div>
    <div class="comment">
        <div class="plf">
            <textarea name="comment"  rows="10" maxlength="255" placeholder="发表你的看法... ..."></textarea>
        </div>
        <div class="pnpost">
            <a id="reply" class="normalbtn bluebtn">发表回复</a>
            <input type="text" value="${user.id}" name="userId" style="display: none"/>
            <input type="text" value="${post.postId}" name="postId" style="display: none"/>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/detail-post.js"></script>
</body>
</html>